#clockContainer{
    position: relative;
    margin: auto;
    height: 50vw;
    width: 50vw; 
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

#hour, #min, #sec{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;

}

#hour{
    width: 1%;
    height: 24%;
    top: 26%;
    left: 50%;
    opacity: 0.8;
}

#min{
    width: 1%;
    height: 30%;
    top: 20%;
    left: 50%;
    opacity: 0.7;

}  

 #sec{
    width: 1%;
    height: 42%;
    top: 9%;
    left: 50%;
    opacity: 0.3;

}
